h1{
  font-size: 40px;
  margin-bottom: 1px;
  text-align:center;
  color: #777777;
  border-style: none;
  padding: 1px
  background-color: black;
  opacity: 100%;
}
  h5{
    text-align:right;
    color: #ff33ff;
  }
  h4{
    text-align:center;
  }
  h3{
    color: white;
    margin-top: 0px;
    margin-left: 30%;
    font-size: 15px;
  }
body{
  background-color: black;
  background-image: url('Lotto_world2.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  vertical-align: middle;
}

.nubox{
  margin-left: inherit;
  text-align: center;
  position: sticky;
  top: 0em;
}

.hiddennum{
  padding: 1px;
}
.nubox > #arrcode,#arrcode1,#arrcode2,#arrcode3,#arrcode4,#arrcode5{
  font-size: 1.5em;
  text-align:center;
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
  background-color: #000000;
  color : #fff;
  opacity: 40%;

}
.searchNumber {
  text-align:center;
  padding-bottom: 5%
  /* position: sticky;
  top: 0px; */
}
#value{
  font-size: 1.5em;
  text-align:center;
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
}
#value1{
  font-size: 1.5em;
  text-align: right;
  height: 2.5em;
  width: 2.5em;
  border-style: none;
  background-color: black;
  opacity: 0%;

}
#maintable{
  background-color:#EEEEEE;
  opacity: 0.8;
  padding-top :2em;
  border-radius: 0.5%;
  width: 75%;
  margin-left: 12%;
}
/* ?? */
#one1, #one2, #one3, #one4, #one5, #one6, #one7, #one8, #one9, #one10{
  background-color: orange;
  padding: 20%;
  color : black;
  text-align:center;
  border-radius: 50%;
  margin-bottom: 0.5%;
  margin-left: 0.5%;
  display: inline-block;
  font-size: 1.5em;
  color:white;
}
/* ?? */
#one11, #one12, #one13, #one14, #one15, #one16, #one17, #one18, #one19, #one20{
  background-color: #0099ff;
  padding: 20%;
  color : black;
  text-align:center;
  border-radius: 50%;
  margin-bottom: 0.5%;
  margin-left: 0.5%;
  display: inline-block;
  font-size: 1.5em;
  color:white;
}
/* ?? */
#one21, #one22, #one23, #one24, #one25, #one26, #one27, #one28, #one29, #one30{
  background-color: #ff0000;
  padding: 20%;
  color : black;
  text-align:center;
  border-radius: 50%;
  margin-bottom: 0.5%;
  margin-left: 0.5%;
  display: inline-block;
  font-size: 1.5em;
  color:white;
}
/* ?? */
#one31, #one32, #one33, #one34, #one35, #one36, #one37, #one38, #one39, #one40{
  background-color: #AAAAAA;
  padding: 20%;
  color : black;
  text-align:center;
  border-radius: 50%;
  margin-bottom: 0.5%;
  margin-left: 0.5%;
  display: inline-block;
  font-size: 1.5em;
  color:white;
}
/* ?? */
#one41, #one42, #one43, #one44, #one45{
  background-color: #00cc00;
  padding: 20%;
  color : black;
  text-align:center;
  border-radius: 50%;
  margin-bottom: 0.5%;
  margin-left: 0.5%;
  display: inline-block;
  font-size: 1.5em;
  color:white;
}
#search{
  width: 40%
  padding : 0.5px;
  padding : 0.4em;
  font-size: 1em;
  background-color: #000000;
  color: #fff;
  autocomplete : 'off';
}
#searching, #del, #era, #ran{
  background:#444444;
  color:#fff;
  border:none;
  /* position:relative; */
  height:1.8em;
  font-size:1.2em;
  padding:0 0.4em;
  /* cursor:pointer; */
  /* transition:800ms ease all; */
  outline:none;
  border-radius: 25%;
  opacity: 70%;
};

table.type01 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    margin : 20em 10em;
    text-align: center;
}
table.type01 th {
    width: 2.5em;
    padding: 0.8em;
    font-size: 1.1em;
    /* text-align: center; */
}
table.type01 td {
    padding: 1em;
    /* vertical-align: top; */
}
